
@{
    ViewBag.Title = "Admin";
}

<h2>View</h2>

<ul>
    <li> @Html.ActionLink("Users", "Index", "ApplicationUsers")  </li>
    <li> @Html.ActionLink("User Roles", "Index", "ApplicationRoles") </li>
    <li> @Html.ActionLink("Decisions", "Index", "Decision") </li>
</ul>

